<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.elultimorey.tweetlove" >

    <!-- Permission - Internet Connect -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Inbox"
            android:label="@string/app_name"
            android:icon="@drawable/ic_actionbar"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:icon="@drawable/ic_actionbar"
            android:parentActivityName=".Inbox"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.elultimorey.tweetlove.inbox" />
        </activity>
    </application>

</manifest>
